<form class="forms" id = "register_form">
    <h1>Enter your details to register for your service</h1>
    {% csrf_token %}
    {{ form }}
    <input type="submit" id = "register" value="register" />
</form>
