body {
     background: #1a1a1a; 
    color: #fff;
    font-family: 'Roboto';
}

input[type="text"] {
    width: 14%%;
}

input[type="number"]{
    width: 14%%;
}

.entry_form{
        width:70%;
	padding: 35px 20px;
	font-size: 12px;
	font-family: Verdana;
	color: rgb(177, 106, 104);
}
.container {
    margin:0 auto;
    width:65%;
    padding:auto;
}

/* Border styles */
.tablegr tr {
        width:65%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(230, 189, 189);
}

.tablegr input[type="number"]{
    width: 65%%;
}

.tablegr input[type="text"]{
    width:65%;
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
}
.tablegr {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(230, 189, 189);
}

/* Padding and font style */
.tablegr td, #tablegr th {
        width:65%;
	padding: 5px 10px;
	font-size: 12px;
	font-family: Verdana;
	color: rgb(177, 106, 104);
}

/* Alternating background colors */
#tablegr tr:nth-child(even) {
	background: rgb(238, 211, 210)
}
#tablegr tr:nth-child(odd) {
	background: #FFF
}


::-webkit-input-placeholder {
    color: #e74c3c;
}

/* Firefox 18- */
:-moz-placeholder {
    color: #e74c3c;
}

/* Firefox 19+ */
::-moz-placeholder {
    color: #e74c3c;
}

:-ms-input-placeholder {
    color: #e74c3c;
}



/*######## Smart Green ########*/
.forms {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.forms h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #9DC45F;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;

}
.forms h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.forms label {
    display: block;
    margin: 0px 0px 5px;
}
.forms label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.forms input[type="text"], .forms input[type="email"], .forms textarea, .forms select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.forms textarea{
    height:100px;
    padding-top: 10px;
}
.forms select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width:100%;
    height:30px;
}
.forms .button {
    background-color: #9DC45F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.forms .button:hover {
    background-color:#80A24A;
}

.top_buttons {
    -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    background-color: #9DC45F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
    font:icon
}
.top_buttons #logout,#register_click,#login_click:hover{
  cursor: pointer;
}
.top_buttons:hover {
    background-color:#80A24A;
    font:message-box;
}


.button-styl {

    background: #00A0D1;
    background: -moz-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#00A0D1),color-stop(100%,#008DB8));
    background: -webkit-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
    background: -o-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
    background: -ms-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
    background: linear-gradient(top,#00A0D1 0%,#008DB8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
    padding:8px 20px;
    color:#cfebf3;
    font-family:'Helvetica Neue',sans-serif;
    font-size:13px;
    border-radius:40px;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border:1px solid #095B7E
}


.edit {
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
   }
.edit:hover {
   border-top-color: #5c0938;
   }
.edit:active {
   border-top-color: #ab0a40;
   background: #ab0a40;
   }


.delete {        
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.cancel {        
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.update {        
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

#create_entry {        
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    padding: 0 1.5em;
    margin: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}


th {
	padding: 5px 10px;
	width: auto;
	height: auto;
	font-size: 12px;
	font-family: Verdana;
	color: rgb(177, 106, 104);
	background: #006a72;
}
th a {
  color: #fff;
}
th a:hover {
  color: #fff;
  text-decoration: underline;
}
