<!DOCTYPE html>
{% load static %}
<html>

<head>

  <meta charset="UTF-8">

  <title>Jogging App</title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}" media="screen" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>
	<script src="{% static "js/index.js" %}"></script>

</head>

<body>
  <div class="top_buttons">

  </div>

  <div class="forms" style="margin:auto;width:70%;">

  </div>

  <div class="entry_form" style="margin:auto;width:65%;">

  </div>
  <div class="hidden_forms" style="display: none;">
  </div>
  <div class="container">
  </div>

</body>

</html>
